body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    background-color: #e0f7fa; /* Light blue background */
    background-image: url(WhatsApp\ Image\ 2024-12-21\ at\ 14.05.52_73593f39.jpg);
}

.header {
    text-align: center;
    padding: 20px;
    background-color: #557ae0; /* Header color */
    color: white;
}

.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.btn-container {
    margin-top: 20px;
}

.btn {
    background-color: #ffeb3b; /* Button color */
    border: none;
    border-radius: 5px;
    color: #333;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #ffe57f; /* Hover effect */
}

.footer {
    text-align: center;
    padding: 10px;
    background-color: #557ae0; /* Footer color */
    color: white;
    position: absolute;
    bottom: 0px;
    width: 100%;
}
